:root {
    --primary: #74a5d3;
    --gradient: linear-gradient(to right, rgb(116, 165, 211, .8) , rgb(148, 201, 221, .8));
    --muted:#6F8BA4;
    --grey:#3B566E;
    --secondary: #FFD2DF;
    --tertiary: #FFF1F1;
    --white: #fff;
    --light: #f8f9fa;
    --rule: #eaedef;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    background: var(--light);
    font-family: 'Raleway', sans-serif;
    line-height: 2rem;
    box-sizing: border-box;
}

section {
    margin: 0;
}

h1 {
    font-size: 2.5rem;
    padding: 2.5rem 0;
    margin: 0;
    font-weight: 100;
}
h3 {
    font-size: 1.6rem;
    padding: 1.6rem;
    margin: 0;
    font-weight: 100;
}

a{
    text-decoration: none;
}


/* Utility */
.container {
    padding: 1rem 1rem;
    overflow: hidden;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.flex-box {
    padding: 2rem 4rem;
    margin: 1rem;
    background: var(--white);
    border-radius: 3rem .5rem 3rem .5rem;
    color: var(--muted);
}
.flex-box i {
    color: var(--primary);
}
.flex-box h3 {
    color: var(--grey);
}




.overlay {
    background-image: var(--gradient);
    height: 100%;
}   

.img-container {
    overflow: hidden;
    height: 400px;
}

.button {
    border-radius: 1.5rem .2rem 1.5rem .2rem;
    cursor: pointer;
    text-decoration: none;
    color: var(--primary);
    border: 1px solid var(--primary);
    padding: .8rem 3.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}


/* Colors */
.white {color: var(--white);}
.muted {color: var(--muted);}
.grey {color: var(--grey);}
.primary {color: var(--primary);}


/* Navbar */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--white);
    min-height: 8vh;
    text-transform: uppercase;
}

.logo {
    letter-spacing: 5px;
    font-size: 20px;
    color: var(--primary);
}

.logo h4{
    color: var(--primary);
}


.burger {
    cursor: pointer;
}
.burger div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background: var(--primary);
    transition: all 0.3s ease;
}

.nav-links {
    display: flex;
    width: 50%;
    margin: 0;
    padding: 0;
}
.nav-links li {
    display: flex;
    align-items: center;
    justify-content: left;
    list-style: none;
    opacity: 0;
    height: 10%;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
}
.nav-links .small {
    padding-left: 3rem;
    height:10%;
}
.nav-links h3{
    font-size: 1.25rem;
}

.nav-links li:hover {
    border-top: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
    transition: all .5s ease-in-out; 
    background: var(--light);
    cursor: pointer;
}
.nav-links a {
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    color: var(--primary);
}

body {
    overflow-x: hidden;
}

.nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background: var(--white);
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform .5s ease-in;

}

.nav-active {
    transform: translateX(0%);
}

.toggle .line1 {transform: rotate(-45deg) translate(-5px, 6px);}
.toggle .line2 {opacity: 0;}
.toggle .line3 {transform: rotate(45deg) translate(-5px, -6px);}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}


/* Showcase */
#showcase {
    background: url('imgs/desktop.jpeg') no-repeat center center/cover;
    height: 70vh;
}

#showcase header{
    background: url('imgs/desktop.jpeg') no-repeat center center/cover;
}

#showcase .overlay {
    padding: 0;
}

#showcase .container .text-container .button-container {
    margin-top: 10vh;  
    display: none;
}

#showcase .container .text-container .button-container .button:nth-child(1) {
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
    cursor: pointer;
    background: var(--white);
    color: var(--primary);
    border: 1px solid var(--white);
    margin-right: 3rem;
}
#showcase .container .text-container .button-container .button:nth-child(1):hover {
    color: var(--white);
    border: 1px solid var(--white);
    background: none;
    transition: all .5s ease-in-out;

}

#showcase .container .text-container .button-container .button:nth-child(2) {
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
    cursor: pointer;
    color: var(--white);
    border: 1px solid var(--white);
}

#showcase .container .text-container .button-container .button:nth-child(2):hover {
    background: var(--white);
    color: var(--primary);
    border: 1px solid var(--white);
    transition: all .5s ease-in-out;
}


/* Showcase-2 */
#showcase-2 {
    background: url('imgs/desktop.jpeg') no-repeat center center/cover;
    height: 30vh;
}

#showcase-2{
    background: url('imgs/desktop.jpeg') no-repeat center center/cover;
}

#showcase-2 .overlay {
    padding: 0;
}


/* Services */

#services .flex-container {
    margin-top: -10rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#services .flex-container .flex-box {
    background: var(--white);
    border-radius: 3rem .5rem 3rem .5rem;
    max-width: 20rem;
    padding-left: 1rem;
    padding-right: 1rem;
}


#services .flex-container .flex-box:hover  i{
    transition: all .5s ease-in-out;
    color: var(--white);
}

#services .flex-container .flex-box:hover  {
    transition: all .5s ease-in-out;
    background: var(--primary);
    color: var(--white);
}

#services .flex-container .flex-box:hover  h3{
    transition: all .5s ease-in-out;
    color: var(--white);
}




/* Ads */
#ads {
    margin-bottom: 10rem;
}

#ads .grid-container {
    background: var(--light);
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#ads .grid-container h1{
    line-height: 3rem;
}

#ads .grid-container hr{ 
    border: none;
    background: var(--primary);
    width: 50%;
    height: 1px;
    margin-top: 3rem; 
}

#ads .text-container {
    padding-top: 1rem;
}

#ads  .grid-item-3 {
    margin-top: 4rem;
}




/* Banner1 */
#banner1 {
    margin-bottom: 5rem;
    background: url('https://source.unsplash.com/1600x1000/?office') no-repeat center center/cover;
}

#banner1 .container {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#banner1 .container .flex-container .flex-box{
    width: 215px;
    height: 150px;
    padding: 2rem;
}

#banner1 .container .flex-container .flex-box h3{
    padding-bottom: 0;
    padding-top: 0;
    font-size: 1.25rem;
}

#banner1 .flex-container .flex-box {
    background: var(--white);
    border-radius: 3rem .5rem 3rem .5rem;
    max-width: 20rem;
}

#banner1 .flex-container .flex-box:hover  i{
    transition: all .5s ease-in-out;
    color: var(--white);
}

#banner1 .flex-container .flex-box:hover  {
    transition: all .5s ease-in-out;
    background: var(--primary);
    color: var(--white);
}

#banner1 .flex-container .flex-box:hover  h3{
    transition: all .5s ease-in-out;
    color: var(--white);
}


/* About Us */
#about-us {
    margin-bottom: 5rem;
    margin-top: -5rem;
}

#about-us .container .text-container h1 {
    color: var(--grey);
}

#about-us .container .text-container p {
    color: var(--muted);
}

#about-us .container .flex-box {
    background: var(--light);
    padding: 2rem 0 0 0;
    max-width: 450px;
}

#about-us .container .flex-box img {
    max-width: 400px;
    max-height: 250px;
    border-radius: 3rem .5rem 3rem .5rem;
}

#about-us .container .flex-box p {
    margin-bottom: 3rem;
}

#about-us .container .flex-box .button:hover {
    background: var(--primary);
    color: var(--white);
    transition: all .5s ease-in-out;
}


/* Banner2 */
#banner2 {
    margin-bottom: 5rem;
    background: url('https://source.unsplash.com/1601x1000/?office')  no-repeat center center/cover;
}

#banner2  {
    margin-bottom: 0;
}

#banner2 .container .flex-container .flex-box {
    background:none;
    color: var(--white);
    min-width: 100%;
}

#banner2 .container .flex-container .flex-box i{
    color: var(--white);
}

#banner2 .container .text-container {
    color: var(--white);
    padding: 1rem 0;
}

#banner2 .container .text-container h3{
    color: var(--white);
    padding: 1rem 0;
    font-size: 2.5rem;
}

#banner2 .container .flex-container h1{
    padding: 0;
}



/* Careers */
#careers .text-container {
    padding: 2rem;
    color: var(--muted);
}

#careers .text-container h1{
    padding-top: 0;
    color: var(--grey);
}

#careers .container .grid-container .text-container h3, #careers .container  .grid-container .text-container h1{
    color: var(--grey);
}

#careers .container .grid-container .text-container p {
    color: var(--muted);
}



#careers .grid-container hr{ 
    border: none;
    background: var(--primary);
    width: 50%;
    height: 1px;
    margin-top: 3rem; 
}

/* products */

#products {
    margin-top: 5rem;
}

#products .text-container {
    padding: 2rem;
}

#products .container .grid-container .text-container h3, #products .container  .grid-container .text-container h1{
    color: var(--grey);
}

#products .container .grid-container .text-container p {
    color: var(--muted);
}

#products .grid-container hr{ 
    border: none;
    background: var(--primary);
    width: 50%;
    height: 1px;
    margin-top: 3rem; 
}

/* Products-2 */

#products-2 {
    margin-top: 5rem;
}

#products-2 .text-container {
    padding: 2rem;
}

#products-2 .container .grid-container .text-container h3, #products-2 .container  .grid-container .text-container h1{
    color: var(--grey);
}

#products-2 .container .grid-container .text-container p {
    color: var(--muted);
}

#products-2 .grid-container hr{ 
    border: none;
    background: var(--primary);
    width: 50%;
    height: 1px;
    margin-top: 3rem; 
}


/* Contact */
#form {
    margin: 4rem 0; 
}
#form .container .form-control {
    background: transparent;
    border: none;
    outline: none;
    text-align: left;
    width: 75%;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--primary);
}

#form .container  input{
    height: 3rem;
}

#form .container .submit {
    background: var(--light);
    border: 1px solid var(--primary);
    border-radius: 1.5rem;
    color: var(--primary);
    text-align: center;
    height: 3rem;
    width: 50%;
    font-weight: bold;
}

#form .container .submit:hover {
    background: var(--primary);
    color: var(--light);
    transition: all .5s ease-in-out;
}

#form .container .submit:hover {
    cursor: pointer;
}

/* offices */
#offices .container .flex-container  {
    justify-content: center;
    padding: 0 3rem;
}

#offices .container .flex-container .flex-box {
    background: var(--light);
    max-width: 30rem;
    padding: 1rem;
    text-align: left;    
}

#offices .container .flex-container .flex-box img{
    max-width: 23rem;
    height: 23rem;
}

#offices .container .flex-container .flex-box h3{
    text-decoration: underline;
    padding-left: 0; 
    padding-bottom: 0; 
}




/* Footer */
footer {
    color: var(--white);
}

footer .branding a{
    color: var(--white);
    text-decoration: none;
}

footer .branding a:hover{
    font-weight: bold;
}

footer .container hr{
    background: var(--white);
    border: none;
    height: 1px;
}




@media only screen and (min-width: 769px) {

    #showcase .container .text-container .button-container {
        margin-top: 10vh;  
        display: block;
    }
    
    .grid-container {
        display: grid;
        grid-gap: 4%;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 5rem;
    }

    #ads .grid-container .grid-item-1 {
        grid-column: 1/5;
        grid-row: 1/3;
       
    }

    #ads .grid-container .grid-item-2 {
        grid-column: 6/9;
        grid-row: 1/3;
        text-align: left;
        
    }

    #ads .grid-container .grid-item-3 {
        margin: 0;
        grid-column: 5/9;
        grid-row: 5/6;
      
    }

    #ads .grid-container .grid-item-4 {
        grid-column: 1/4;
        grid-row: 5/6;
        text-align: right;
    }

    #banner1 {
        margin-top: 8rem;
    }

    #form .container .form-control {     
        width: 50%;   
    }
    
    #form .container .submit { 
        width: 25%;
    }

}


@media only screen and (min-width: 1024px) {

    #showcase .container {
        text-align: left;
        padding-left: 8rem;
    }
    #showcase-2 .container {
        text-align: left;
        padding-left: 8rem;
    }

    #banner2 .container .flex-container .flex-box{
       min-width: 5rem;
     
    }

    /* Careers */
    #careers .grid-container .img-container{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #careers .grid-container .text-container{
        grid-column: 3/4;
        grid-row: 1/2;
        text-align: left;
        padding: 0;
    }

    #careers .grid-container .text-container h3{ 
        padding-left: 0;
    }

    /* Products */
    #products .grid-container .img-container{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #products .grid-container .text-container{
        grid-column: 3/4;
        grid-row: 1/2;
        text-align: left;
        padding: 0;
    }

    #products .grid-container .text-container h3{ 
        padding-left: 0;
    }

    /* Products-2 */
    #products-2 .grid-container .img-container{
        grid-column: 3/4;
        grid-row: 1/2;
    }

    #products-2 .grid-container .text-container{
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: right;
        padding: 0;
    }

    #products-2 .grid-container .text-container h3{ 
        padding-left: 0;
    }

    #banner2 .container .text-container {
        text-align: left;
        padding-left: 5rem;
    }
} 